// This set pinout for project Example5
// Use the board clock genarator
NET	"i_clk"	LOC	=	"B8";

// Set all switches

// Set all 8 input signal from switchers
NET	"i_Switch<0>"	LOC	=	"P11";
NET	"i_Switch<1>"	LOC	=	"L3";
NET	"i_Switch<2>"	LOC	=	"K3";
NET	"i_Switch<3>"	LOC	=	"B4";
NET	"i_Switch<4>"	LOC	=	"G3";
NET	"i_Switch<5>"	LOC	=	"F3";
NET	"i_Switch<6>"	LOC	=	"E2";
NET	"i_Switch<7>"	LOC	=	"N3";


NET "i_PS2C"    LOC = "B1"   | DRIVE = 2  | PULLUP ; # Bank = 3, Signal name = PS2C
NET "i_PS2D"    LOC = "C3"   | DRIVE = 2  | PULLUP ; # Bank = 3, Signal name = PS2D


// Set all 8 output signal for leds
NET	"o_LED<0>"	LOC	=	"M5";
NET	"o_LED<1>"	LOC	=	"M11";
NET	"o_LED<2>"	LOC	=	"P7";
NET	"o_LED<3>"	LOC	=	"P6";
NET	"o_LED<4>"	LOC	=	"N5";
NET	"o_LED<5>"	LOC	=	"N4";
NET	"o_LED<6>"	LOC	=	"P4";
NET	"o_LED<7>"	LOC	=	"G1";


// Set output signal for Seven Segment Display
NET	"o_SevenSegmentDisplay<0>"	LOC	=	"L14";//Segment -- "A"
NET	"o_SevenSegmentDisplay<1>"	LOC	=	"H12";//Segment -- "B"
NET	"o_SevenSegmentDisplay<2>"	LOC	=	"N14";//Segment -- "C"
NET	"o_SevenSegmentDisplay<3>"	LOC	=	"N11";//Segment -- "D"
NET	"o_SevenSegmentDisplay<4>"	LOC	=	"P12";//Segment -- "E"
NET	"o_SevenSegmentDisplay<5>"	LOC	=	"L13";//Segment -- "F"
NET	"o_SevenSegmentDisplay<6>"	LOC	=	"M12";//Segment -- "G"
NET	"o_SevenSegmentDisplay<7>"	LOC	=	"N13";//Segment -- "."


// Set output signal for Chosen Segment in Seven Segment Display
NET	"o_Chosen_Segment<0>"	LOC	=	"F12";//Segment -- "1"
NET	"o_Chosen_Segment<1>"	LOC	=	"J12";//Segment -- "2"
NET	"o_Chosen_Segment<2>"	LOC	=	"M13";//Segment -- "3"
NET	"o_Chosen_Segment<3>"	LOC	=	"K14";//Segment -- "4"




NET "HSYNC"   LOC = "J14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = HSYNC
NET "VSYNC"   LOC = "K13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = VSYNC



NET "o_Red<2>"  LOC = "F13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED2
NET "o_Red<1>"  LOC = "D13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED1
NET "o_Red<0>"  LOC = "C14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = RED0
NET "o_Green<2>"  LOC = "G14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN2
NET "o_Green<1>"  LOC = "G13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN1 
NET "o_Green<0>"  LOC = "F14"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = GRN0 
NET "o_Blue<1>"  LOC = "J13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = BLU2
NET "o_Blue<0>"  LOC = "H13"  | DRIVE = 2  | PULLUP ; # Bank = 1, Signal name = BLU1 



